[submodule "src/stf_test/jamtestnet"]
	path = src/jamtestnet/data
	url = https://github.com/jam-duna/jamtestnet.git
[submodule "src/jamtestvectors/data"]
	path = src/jamtestvectors/data
	url = https://github.com/w3f/jamtestvectors/
[submodule "src/jamtestvectors/pulls/pvm"]
	path = src/jamtestvectors/pulls/pvm
	url = https://github.com/w3f/jamtestvectors/
[submodule "src/jamtestvectors/pulls/erasure_coding"]
	path = src/jamtestvectors/pulls/erasure_coding
	url = https://github.com/w3f/jamtestvectors/
[submodule "src/jamtestvectors/pulls/fisher-yates"]
	path = src/jamtestvectors/pulls/fisher-yates
	url = https://github.com/w3f/jamtestvectors/
