[submodule "tests/test-vectors"]
	path = src/tests/vectors/safrole
	url = https://github.com/w3f/jamtestvectors.git
[submodule "src/tests/vectors/codec"]
	path = src/tests/vectors/codec
	url = https://github.com/w3f/jamtestvectors.git
[submodule "src/tests/vectors/pvm/pvm"]
	path = src/tests/vectors/pvm/pvm
	url = https://github.com/w3f/jamtestvectors.git
[submodule "src/tests/vectors/trie"]
	path = src/tests/vectors/trie
	url = https://github.com/w3f/jamtestvectors.git
[submodule "src/tests/vectors/judgements"]
	path = src/tests/vectors/disputes
	url = https://github.com/w3f/jamtestvectors.git
[submodule "src/tests/vectors/history"]
	path = src/tests/vectors/history
	url = https://github.com/w3f/jamtestvectors.git
