[submodule "src/stf_test/jamtestnet"]
	path = src/jamtestnet/teams/jamduna
	url = https://github.com/jam-duna/jamtestnet.git
[submodule "src/jamtestvectors/data"]
	path = src/jamtestvectors/data
	url = https://github.com/w3f/jamtestvectors/
[submodule "src/jamtestvectors/pulls/pvm"]
	path = src/jamtestvectors/pulls/pvm
	url = https://github.com/w3f/jamtestvectors/
[submodule "src/jamtestvectors/pulls/erasure_coding"]
	path = src/jamtestvectors/pulls/erasure_coding
	url = https://github.com/w3f/jamtestvectors/
[submodule "src/jamtestvectors/pulls/fisher-yates"]
	path = src/jamtestvectors/pulls/fisher-yates
	url = https://github.com/w3f/jamtestvectors/
[submodule "src/jamtestnet/teams/javajam"]
	path = src/jamtestnet/teams/javajam
	url = https://github.com/javajamio/javajam-trace.git
[submodule "src/jamtestnet/teams/jamzig"]
	path = src/jamtestnet/teams/jamzig
	url = https://github.com/jamzig/jamtestnet.git
